.flag {
    position: relative;
    width: 320px;
    height: 320px;
    background-color: red;
    margin-top: 200px;
    margin-left: 600px;
}
/*bu bölüm dikey objeyi stillendiriyor*/
.rectangle1 {
    position: absolute;
    width: 60px;
    height: 200px;
    background-color: white;
    margin-top: 60px;
    margin-left: 130px;

}
/*bu bölüm yatay objeyi stillendiriyor*/
.rectangle2 {
    position: absolute;
    width:200px;
    height: 60px;
    background-color: white;
    margin-top: 130px;
    margin-left: 60px;
}
/*id burasi*/
#country {    
    text-align: center; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}